@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: Inter;
}

$grey-color: #D0D5DD;
$black-color: #344054;
$white-color: #ffffff;
$yellor-color: #FFC857;

@mixin app-flex($ai, $jc, $dp: flex, $fd: row) {
  display: $dp;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

@mixin app-font($fz, $lh, $fw: 400) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}

.app {
  background-color: $black-color;
  min-height: 100vh;
  @include app-flex(center, center);
}

.app__content {
  width: 100%;
  max-width: 478px;
  height: 834px;
  padding: 60px;
  background-color: $white-color;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.app__heading {
  margin-bottom: 25px;
  @include app-font(28px, 34px, 700);
  color: $black-color;
}

.app__item {
  width: 100%;
  padding: 23px;
  background: #F2F2F2;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  @include app-flex(flex-start, flex-start, flex, column);
}

.app__item-content {
  @include app-flex(center, flex-start);
  gap: 14px;
}

.app__item-checkbox-span {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: $grey-color;
  transition: all ease .4s;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.app__item-checkbox {
  .app__item-checkbox-input:checked + .app__item-checkbox-span {
    background-image: url(./assets/ok.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $black-color;
    background-size: 15px 14px;
  }
  input {
    position: absolute;
    width: 0;
    height: 0;
  }
}

.app__item-heading {
  @include app-font(18px, 22px);
  color: $black-color;
  transition: text-decoration 4s ease;
}

.app__item-edit-input {
  @include app-font(18px, 22px);
  background-color: transparent;
  border-bottom: solid 1px $black-color;
}

.app__item-heading_active {
  text-decoration: line-through;
}

.app__list {
  height: 85%;
  padding-bottom: 40px;
  gap: 20px;
  overflow-y: scroll;
  @include app-flex(flex-start, flex-start, flex, column);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.app__item-options {
  visibility: hidden;
  margin-top: 20px;
  position: absolute;
}

.app__item-options_active {
  visibility: visible;
  position: relative;
}

.app__item-delete {
  padding: 16px 40px;
  margin-right: 20px;
  color: $white-color;
  background-color: $black-color;
  border-radius: 25px;
  @include app-font(16px, 19px, 500);
  color: $white-color;
}

.app__item-edit {
  @include app-font(16px, 19px);
}

// * create-todo * //

.todo-create {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px rgba(29, 41, 57, 0.1);
}

.todo-create__content {
  padding: 13px 15px 13px 23px;
  @include app-flex(center, space-between);
  background: #F2F2F2;
  border-radius: 10px;
}

.todo-create__input {
  background-color: transparent;
  color: $black-color;
  @include app-font(16px, 19px);

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.todo-create__btn {
  width: 18px;
  height: 15px;
  background-image: url(./assets/create.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.todo-create__btn_active {
  background-image: url(./assets/create-active.svg);
}


@media (max-width: 523px) {
  .app__content {
    max-width: 91.40vw;
    height: 159.46vw;
    padding: 11.47vw;
    border-radius: 1.91vw;
  }
  
  .app__heading {
    margin-bottom: 4.78vw;
    @include app-font(5.35vw, 6.50vw, 700);
  }
  
  .app__item {
    padding: 4.40vw;
    border-radius: 1.91vw;
  }
  
  .app__item-content {
    gap: 2.68vw;
  }

  .app__item-checkbox {
    .app__item-checkbox-input:checked + .app__item-checkbox-span {
      background-size: 2.87vw 2.68vw;
    }
  }
  
  .app__item-checkbox-span {
    width: 4.97vw;
    height: 4.97vw;
  }
  
  .app__item-heading {
    @include app-font(3.44vw, 4.21vw);
  }
  
  .app__item-edit-input {
    @include app-font(3.44vw, 4.21vw);
  }
  
  .app__list {
    padding-bottom: 7.65vw;
    gap: 3.82vw;
  }
  
  .app__item-options {
    margin-top: 3.82vw;
  }
  
  .app__item-delete {
    padding: 3.06vw 7.65vw;
    margin-right: 3.82vw;
    border-radius: 4.78vw;
    @include app-font(3.06vw, 3.63vw, 500);
  }
  
  .app__item-edit {
    @include app-font(3.06vw, 3.63vw);
  }
  
  // * create-todo * //
  
  .todo-create {
    margin-bottom: 5.74vw;
    padding-bottom: 5.74vw;
  }
  
  .todo-create__content {
    padding: 2.49vw 2.87vw 2.49vw 4.40vw;
    border-radius: 1.91vw;
  }
  
  .todo-create__input {
    @include app-font(3.06vw, 3.63vw);
  }
  
  .todo-create__btn {
    width: 3.44vw;
    height: 2.87vw;
  }
  
}